// Remove padding from control container (see below)
.custom-control {
  padding-left: 0;
}

.custom-control-label {
  // Add padding so we make the entire area clickable
  padding-left: $custom-control-gutter;
  // Prevent label selection (happens when clicking checkboxes very fast)
  user-select: none;
  // Animate value change
  // &::before {
  //   transition: background-color 0.1s ease-out;
  // }
}

.custom-control-input {
  &:disabled:checked ~ .custom-control-label:before {
    // background-color: $custom-control-indicator-disabled-bg;
    // Increase contrast
    background-color: $custom-select-disabled-color;
  }
  // Render focus ring also when active
  &:active ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}

.custom-controls-stacked {
  .custom-control {
    margin-bottom: 0.25rem;
  }
}
