.custom-toggle {
  .custom-control-label {
    &::before {
      width: 1.5rem;
      left: -0.25rem;
      @include border-radius(1rem);
      background: darken($custom-control-indicator-bg, 10%);
    }

    &::after {
      width: 0.8rem;
      height: 0.8rem;
      top: 0.345rem;
      left: -0.155rem;
      background-color: $custom-control-indicator-checked-color;
      border-radius: 1rem;
      transition: left 0.2s;
    }
  }

  .custom-control-input:checked ~ .custom-control-label {
    &::after {
      left: 0.35rem;
    }
  }
}
