.custom-toggle {
  .custom-control-indicator {
    width: 1.5rem;
    left: -.25rem;
    @include border-radius(1rem);
    background: darken($custom-control-indicator-bg, 10%);

    &:before {
      display: block;
      content: "";
      width: .8rem;
      height: .8rem;
      position: absolute;
      top: .1rem;
      left: .1rem;
      background-color: $custom-control-checked-indicator-color;
      border-radius: 1rem;
      transition: left 0.2s;
    }
  }

  .custom-control-input:checked ~ .custom-control-indicator {
    background-color: $custom-control-checked-indicator-bg;

    &:before {
      left: .6rem;
    }
  }

}
