.dialog-alert {
  &.dialog-fixed {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dialog-content {
    min-width: 20%;
    max-width: 600px;
  }

  p {
    margin: 1rem 0;
  }

  .dialog-header {
    color: $white;
  }
}
