/* Make clicks pass-through */
#nprogress {
  pointer-events: none;

  .bar {
    background: #77b6ff;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
  }

  /* Fancy blur effect */
  .peg {
    display: block;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px #77b6ff, 0 0 10px #77b6ff;
  }
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;

  #nprogress .spinner,
  #nprogress .bar {
    position: absolute;
  }
}

/*
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
*/
