// fixed position so the backdrop forcefully covers the whole screen
.overlay-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $zindex-modal-backdrop;
  background-color: rgba($modal-backdrop-bg, $modal-backdrop-opacity);
  overflow: auto;
  overflow-x: auto;
  overflow-y: scroll;
  opacity: 0;
  transition: opacity ($transition-duration * 4) 120ms ease-in-out;

  &.open {
    opacity: 1;
  }
  /*
  &.fade-enter,
  &.fade-appear {
    opacity: 0;
    overflow-y: hidden;
  }
  &.fade-enter.fade-enter-active,
  &.fade-appear.fade-appear-active {
    opacity: 1;
    overflow-y: scroll;
  }
  &.fade-exit {
    opacity: 1;
    overflow-y: scroll;
    &.fade-exit-active {
      opacity: 0;
      overflow-y: hidden;
    }
  }
  */

  &.dark {
    background-color: rgba($modal-backdrop-bg, 0.9);
  }

  &:focus {
    outline: none;
  }
}

// we surreptitiously add this class to the overlay content container so that
// users won't need to explicitly manage the position mode for inline and
// non-inline rendering.
.overlay-content {
  position: fixed;
}

// when rendered inline, we want the overlay to position itself relative to
// its parent container, not relative to the whole window. thus, we change
// to position:absolute.
.overlay-inline {
  .overlay-backdrop,
  .overlay-content {
    position: absolute;
  }
}
