{
  "env": {
    "development": {
      "plugins": [
        // ["emotion", { "sourceMap": true }],
        // "react-hot-loader/babel",
        "@babel/transform-flow-strip-types",

        // React
        "@babel/transform-react-jsx-self",
        "@babel/transform-react-jsx-source",
        "@babel/transform-react-display-name",
        ["@babel/transform-react-jsx", { "useBuiltIns": true }],

        // Stage 2
        "@babel/syntax-dynamic-import",
        ["@babel/proposal-class-properties", { "spec": false }],

        // Stage 3
        ["@babel/proposal-object-rest-spread", { "useBuiltIns": true }],

        // ES2015 -- Move this to production-only when browsers add support for class properties (see above)
        ["@babel/transform-classes", { "loose": true }]
      ]
    },
    "production": {
      "plugins": [
        // ["emotion", { "sourceMap": false }],
        // "lodash",
        "@babel/transform-flow-strip-types",

        // React
        "@babel/transform-react-constant-elements",
        "@babel/transform-react-inline-elements",
        "transform-react-remove-prop-types",
        ["@babel/transform-react-jsx", { "useBuiltIns": true }],

        // Stage 2
        "@babel/syntax-dynamic-import",
        ["@babel/proposal-class-properties", { "spec": false }],

        // Stage 3
        ["@babel/proposal-object-rest-spread", { "useBuiltIns": true }],
        // "@babel/proposal-async-generator-functions",

        // State 4
        // check-constants

        // ES2015
        "@babel/check-constants",
        ["@babel/transform-arrow-functions", { "spec": false }],
        "@babel/transform-block-scoped-functions",
        "@babel/transform-block-scoping",
        ["@babel/transform-classes", { "loose": true }],
        ["@babel/transform-computed-properties", { "loose": true }],
        ["@babel/transform-destructuring", { "loose": true }],
        "@babel/transform-duplicate-keys",
        ["@babel/transform-for-of", { "loose": true }],
        "@babel/transform-function-name",
        "@babel/transform-literals",
        "@babel/transform-object-super",
        ["@babel/transform-parameters", { "loose": true }],
        "@babel/transform-shorthand-properties",
        ["@babel/transform-spread", { "loose": true }],
        // "@babel/sticky-regex",
        ["@babel/transform-template-literals", { "spec": false, "loose": true }],
        "@babel/transform-typeof-symbol",
        "@babel/transform-new-target",
        // ["@babel/transform-regenerator", { "async": false, "asyncGenerators": false }],
        // "@babel/unicode-regex"

        // ES2016
        "@babel/transform-exponentiation-operator",

        // ES2017
        // "@babel/transform-async-to-generator"

        // async/await
        [
          "module:fast-async",
          {
            "spec": true
          }
        ]
      ]
    }
  }
}
