[production]
# Run `npx autoprefixer --info` to view CSS properties that need polyfill
# From: https://github.com/adobe/react-spectrum/blob/main/package.json#L10-L15
chrome >= 61
firefox >= 60
safari >= 11
# edge >= 16 # does not support case-insensitive selectors resulting to explosion of CSS selectors
#supports es6-module

[legacy]
# https://github.com/browserslist/browserslist
#defaults => 0.5%, last 2 versions, Firefox ESR, not dead
> 0.2%
not dead
not op_mini all

[development]
last 1 chrome version
last 1 firefox version
