[production]
# Run `npx autoprefixer --info` to view CSS properties that need polyfill
# From: https://github.com/adobe/react-spectrum/blob/main/.browserslistrc
chrome >= 79
firefox >= 85
safari >= 13
#edge >= 88

[legacy]
# https://github.com/browserslist/browserslist
#defaults => 0.5%, last 2 versions, Firefox ESR, not dead
> 0.2%
not dead
not op_mini all

[development]
last 1 chrome version
last 1 firefox version
