# dev
.git
.github
.vscode
.idea
.git*
.prettier*
.prettierrc
.prettierignore
.editorconfig

# generated or dev-only
node_modules
client
assets
scripts
types
public/global.css
public/js

# configs
.browserslistrc
.eslintrc
babel.config.js
*.md
tsconfig.json
webpack.config.js
