$buildBorderRadius: 4px;

span[type=button] {
  appearance: none;
}

.build {
  border: 2px solid $body-color;
  padding: 1rem;
  border-radius: $buildBorderRadius;
  text-align: center;
  cursor: pointer;
  will-change: transform, background-color;
  user-select: none;
  position: relative;

  h2 {
    font-weight: normal;
  }

  p {
    color: #333;
  }

  &.release {
    background-color: #fafffa;
    border-color: green;
    color: green;
  }
  &.stable {
    background-color: #fffcfa;
    border-color: orange;
    color: orange;
  }
  &.nightly {
    background-color: #fffafa;
    border-color: red;
    color: red;
  }

  &.selected, &:hover {
    border-color: $body-color;
    color: $body-color;
    background-color: #f6f6f6;
  }

  @include media-breakpoint-down(md) {
    & {
      margin-bottom: 1rem;
    }

    &.active {
      display: none;
    }
    &.selected {
      display: block;
      background-color: white;
      border-width: 0 0 2px 0 !important;
      border-radius: 0 !important;
    }
  }

  @include media-breakpoint-up(lg) {

    & {
      transition: transform .083s ease-out;
    }

    &.selected {
      display: block;
      transform: translateY(1.25rem);
      border-bottom: 0;
      border-radius: $buildBorderRadius $buildBorderRadius 0 0;
      z-index: 1;
    }
  }

}

.build-config {
  @include media-breakpoint-up(lg) {
    background-color: #f6f6f6;
    margin-top: 1rem;
    border: 2px solid $body-color;
    padding: 1rem;
  }

  p {
    line-height: 1.5rem;
  }

  .script {
    width: 100%;
    resize: none;
    font-size: 12px;
    background-color: #2b2b2b;
    color: white;
    padding: 1rem;
    will-change: height;
    transition: height .5s ease-out;
  }
}
