footer {
  margin-top: 1rem;
  background-color: $body-color;
  background-image: radial-gradient(
    circle farthest-corner at center,
    $body-color 0,
    $body-color 50%,
    lighten($body-color, 15%) 100%
  );
  color: $body-color-dark-secondary;
  padding-bottom: 3rem;

  .col-sm {
    margin-top: 3rem;
  }

  a,
  a:hover,
  a:active,
  a:focus {
    color: white;
  }
  li {
    line-height: 2rem;
  }
  ul {
    margin-bottom: 0;
  }
}

.copyright {
  text-align: center;
  padding-top: 3rem;
  font-size: 14px;
  p {
    margin: 0;
  }
}
