footer {
  margin-top: 1rem;
  background-color: $body-color;
  color: $body-color-dark-secondary;
  padding-bottom: 2rem;

  .col-sm {
    margin-top: 2rem;
  }

  a, a:hover, a:active, a:focus {
    color: white;
  }
  li { line-height: 2rem; }
  ul { margin-bottom: 0; }
}

.copyright {
  padding: 2rem 0;
  font-size: 14px;
  color: $body-color;
  p { margin: 0; }
}
