// Override Sass pre-computed precentages with CSS calc()
// to let browsers do the math.
// Results in maximum internal precision for things like
// 33.33333% that may not be enough in some cases.

@mixin make-col($size, $columns: $grid-columns) {
  @if $enable-flex {
    flex: 0 0 percentage($size / $columns);
    // Add a `max-width` to ensure content within each column does not blow out
    // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
    // do not appear to require this.
    max-width: percentage($size / $columns);
  } @else {
    float: left;
    width: percentage($size / $columns);
    width: calc(100% * #{$size} / #{$columns});
  }
}

@mixin make-col-offset($size, $columns: $grid-columns) {
  margin-left: percentage($size / $columns);
  margin-left: calc(100% * #{$size} / #{$columns});
}

@mixin make-col-push($size, $columns: $grid-columns) {
  @if $size > 0 {
    left: percentage($size / $columns);
    left: calc(100% * #{$size} / #{$columns});
  } @else {
    left: auto;
  }
}

@mixin make-col-pull($size, $columns: $grid-columns) {
  @if $size > 0 {
    right: percentage($size / $columns);
    right: calc(100% * #{$size} / #{$columns});
  } @else {
    right: auto;
  }
}
