@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

body {
  // Disables pull-to-refresh and overscroll glow effect. Still keeps swipe navigations.
  // https://developers.google.com/web/updates/2017/11/overscroll-behavior
  overscroll-behavior-y: none;

  // Always show scrollbar
  overflow-y: scroll;
}

main {
  padding-top: 4rem;
}

p {
  line-height: 2rem;
}

h1,
h2,
h3 {
  // Lightweight rendering, getit?
  font-weight: 300;
}

b,
strong {
  font-weight: 700;
}

.area-dark-secondary {
  color: white;
}

.area-dark-secondary,
.area-dark {
  background-color: $body-color;
  background-image: radial-gradient(
    circle farthest-corner at center,
    $body-color 0,
    $body-color 50%,
    lighten($body-color, 15%) 100%
  );
  color: white;

  :last-child {
    margin-bottom: 0;
  }

  a:not(.btn) {
    color: lighten($link-color, 15%);
  }

  .line-sep {
    border-color: white;
  }

  small {
    color: $body-color-dark-secondary;
  }
}
