:root {
  color-scheme: light dark;
}

@media (prefers-reduced-motion: reduce) {
  * {
    // instead of disabling animations, reduce durations to 0
    // this avoids having to work around fill-mode styling
    // (e.g. "forwards" should leave the element in end state after
    // the animation has completed)
    animation-delay: 0s !important;
    animation-duration: 0s !important;
    transition-duration: 0s !important;
    // disable smooth scrolling
    scroll-behavior: auto !important;
  }
}

body {
  // Disables pull-to-refresh and overscroll glow effect. Still keeps swipe navigations.
  // https://developers.google.com/web/updates/2017/11/overscroll-behavior
  overscroll-behavior-y: none;

  // Always show scrollbar to avoid layout between page navigations
  overflow-y: scroll;

  // Disable scroll anchoring
  // https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-anchor/Guide_to_scroll_anchoring
  overflow-anchor: none;
}

main {
  padding-top: 4rem;
}

p {
  line-height: 2rem;
}

h1,
h2,
h3 {
  // Lightweight rendering, getit?
  font-weight: 300;
}

b,
strong {
  font-weight: 700;
}

.area-dark-secondary {
  color: white;
}

.area-dark-secondary,
.area-dark {
  background-color: $body-color;
  background-image: radial-gradient(
    circle farthest-corner at center,
    $body-color 0,
    $body-color 50%,
    lighten($body-color, 15%) 100%
  );
  color: white;

  :last-child {
    margin-bottom: 0;
  }

  a:not(.btn) {
    color: lighten($link-color, 15%);
  }

  .line-sep {
    border-color: white;
  }

  small {
    color: $body-color-dark-secondary;
  }
}
