iframe { display: block; }

body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow-y: scroll;
}

p {
  line-height: 2rem;
}

h1,h2,h3 {
  // Lightweight rendering, getit?
  font-weight: 300;
}

b, strong {
  font-weight: 700;
}

// Text where links should be underlined
.copy {
  a {
    text-decoration: underline;
    &.btn {
      text-decoration: none;
    }
  }
}

.area-dark {
  background-color: $brand-primary;
  color: white;

  :last-child {
    margin-bottom: 0;
  }

  a {
    color: $link-color-dark;
    &.btn {
      color: white;
    }
  }

  .line-sep {
    border-color: white;
  }

  small {
    color: $body-color-dark-secondary;
  }
}

.build-status {
  display: block;
  width: 200px;
  height: 40px;
  border: none;
}