@import "bootstrap/functions";

// ----------------------------------------------------------------------------------------------------------------
// VARIABLES
// ----------------------------------------------------------------------------------------------------------------

@import "variables";
@import "bootstrap/variables";
// @import "variables-more";
@import "animations-common";

// Mixins
// @import "mixins/default";

// ----------------------------------------------------------------------------------------------------------------
// BOOTSTRAP
// ----------------------------------------------------------------------------------------------------------------
@import "bootstrap/mixins";

// @import "bootstrap/print";

// Core CSS
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
// @import "bootstrap/transitions";
// @import "bootstrap/dropdown";
// @import "bootstrap/button-group";
// @import "bootstrap/input-group";
@import "bootstrap/custom-forms";
// @import "bootstrap/nav";
// @import "bootstrap/navbar";
// @import "bootstrap/card";
// @import "bootstrap/breadcrumb";
// @import "bootstrap/pagination";
// @import "bootstrap/badge";
// @import "bootstrap/jumbotron";
@import "bootstrap/alert";
// @import "bootstrap/progress";
// @import "bootstrap/media";
// @import "bootstrap/list-group";
// @import "bootstrap/close";

// Utility classes
@import "bootstrap/utilities";

// ----------------------------------------------------------------------------------------------------------------
// COMPONENTS
// ----------------------------------------------------------------------------------------------------------------

@import "components/custom-forms-common";
@import "components/custom-toggle";
@import "components/svg-icon";
@import "components/loader";
@import "components/nprogress";

// ----------------------------------------------------------------------------------------------------------------
// THEME
// ----------------------------------------------------------------------------------------------------------------
@import "theme";
@import "utils";
@import "header";
@import "footer";
