extends layout

block content
  main(style="display: grid; justify-content: center; margin: 10vh 0; gap: 1rem; text-align: center")
    h1(style="color: orange; font-size: 3em; line-height: 1; font-weight: 700") 404
    p Page Not Found
