extends layout

block vars
  - head = {'title':'<title>An error has occured</title>'}

block content
  .container.text-xs-center.p-y-3
    h1 500
    p An error has occured

    h4 Error Details
    - var hasError = error.message && error.message.length;
    if ( hasError )
      .alert.alert-danger
        pre= error.message
    else if ( typeof error === 'string' )
      .alert.alert-danger
        pre= error
    else if development
      .alert.alert-danger
        pre= JSON.stringify(error, null, '  ')
    if error.stack && development
      .alert.alert-danger
        pre= error.stack