extends layout

block content
  h1 500
  p An error has occured

  h4 Error Details
  if error.message !== undefined && error.message.length > 0
    pre= error.message
  else if typeof error === 'string'
    pre= error
  else if development
    pre= JSON.stringify(error, null, ' ')
  if error.stack && development
    pre= error.stack
