extends layout

block content
  #lwjgl-app
    //- The following content is replaced by React <App />
    style.
      @keyframes spin{0%{stroke-dasharray:150.6 100.4;stroke-dashoffset:0}50%{stroke-dasharray:1 250;stroke-dashoffset:251px}100%{stroke-dasharray:150.6 100.4;stroke-dashoffset:502px}}
    div.d-flex.flex-column.justify-content-center.align-items-center(style="height:100vh")
      h1.display-3
        | LW
        b JGL
      svg(viewBox="0 0 100 100", preserveAspectRatio="xMidYMid" style="max-width:20vw;max-height:75px;opacity:0;animation:fade-in .33s ease-in 1s forwards")
        circle(cx="50", cy="50", r="40", stroke="#2d6ca5", fill="none", stroke-width="8", stroke-linecap="round")
        circle(style="animation:spin 2s linear 1s infinite" cx="50", cy="50", r="40", stroke="#4cddff", fill="none", stroke-width="6", stroke-linecap="round")
      noscript
        style.
          #lwjgl-app>div>svg{display:none}
        p.text-danger Please enable JavaScript

  if ( production )
    script#manifest(type="application/json")!=webpackManifest
  else
    script(src=`/js/vendor.js`)
  if ( msie === true)
    //- Required for React 16+
    <!--[if IE]>
    script.
      if(!('requestAnimationFrame' in window))requestAnimationFrame=function(cb){setTimeout(cb)}
    <![endif]-->
  script(src=`/js/${entry}` defer)
