extends layout

block content
  #lwjgl-app
    div.area-dark(style="display:flex;align-items:center;justify-content:center;height:100vh")
      h1 !{`LW<b>JGL</b>`}

  if ( ie )
    //- https://polyfill.io/v2/docs/features/
    script(src="https://cdn.polyfill.io/v2/polyfill.min.js?flags=gated&features=requestAnimationFrame,Element.prototype.classList")

  if ( inline )
    script !{bundle}
  else
    script(src=`/js/${bundle}`)
