extends layout

block content
  #lwjgl-app
    div(style="display:flex;align-items:center;justify-content:center;height:100vh")
      svg(class="loader-spinner delay" viewBox="0 0 32 32" width=96 height=96)
        circle(cx=16 cy=16 r=14 fill="none")

  if ( ie )
    //- https://polyfill.io/v2/docs/features/
    script(src="https://cdn.polyfill.io/v2/polyfill.min.js?flags=gated&features=requestAnimationFrame,Element.prototype.classList")

  if ( production )
    script !{bundle}
  else
    script(src=`/js/vendor.js`)
    script(src=`/js/${bundle}`)
