extends layout

block content
  #lwjgl-app
    div(style="display:flex;align-items:center;justify-content:center;height:100vh;background-color:#1b2426;color:#20282a")
      h1(style="font-size:96px") !{`LW<b>JGL</b>`}

  if ( ie )
    //- https://polyfill.io/v2/docs/features/
    script(src="https://cdn.polyfill.io/v2/polyfill.min.js?flags=gated&features=requestAnimationFrame,Element.prototype.classList")

  if ( inline )
    script !{bundle}
  else
    script(src=`/js/${bundle}`)
