doctype html
html(lang="en-US", dir="ltr")
  head
    meta(charset="utf-8")
    title LWJGL - Lightweight Java Game Library
    meta(name="viewport", content="width=device-width,initial-scale=1,viewport-fit=cover")
    meta(name="theme-color", content="#1b2426")
    meta(name="application-name", content="LWJGL")
    meta(name="google", content="notranslate")
    meta(http-equiv="Content-Language", content="en-US")
    link(rel="icon", href="/img/fav/favicon.svg")
    link(rel="shortcut icon", href="/favicon.ico")
    //- keep this for Lighthouse score
    link(rel="apple-touch-icon", href="/img/fav/apple-touch-icon-192x192.png")
    link(rel="manifest", href="/manifest.webmanifest")
    if ( css !== undefined )
      link(rel="stylesheet", href=`/css/${css}`, media="print", onload="this.media='all'")
    //- script.
      window.dataLayer=[];function gtag(){dataLayer.push(arguments)}gtag('js',new Date());gtag('config','UA-83518-1',{send_page_view:false,transport_type:'beacon',anonymize_ip:true});
  body
    block content
