block vars

doctype html
html(lang="en-US")

  head
    meta(charset="utf-8")
    link(rel="dns-prefetch" href="//d2g0ezo1t7nqa0.cloudfront.net")
    link(rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com")
    link(rel="dns-prefetch" href="//fonts.googleapis.com")
    link(rel="preload" as="script" href=`/js/${bundle}`)
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="theme-color" content="#1b2426")
    link(rel="shortcut icon" href="https://d2g0ezo1t7nqa0.cloudfront.net/fav.ico")

    if ( head && head.title )
      !=head.title
    else
      title LWJGL - Lightweight Java Gaming Library

    if ( head )
      !=head.meta

      !=head.link

    if ( production )
      style
        !=css
    else
      link(rel="stylesheet" href="/css/layout.css")

    if ( aphrodite && aphrodite.content.length )
      style(data-aphrodite="")!=aphrodite.content

  body

    block content

    if ( renderApp )
      if ( aphrodite )
        script(id="aphro-hydrate" type="application/json")!=JSON.stringify(aphrodite.renderedClassNames)
      script(src=`/js/${bundle}` async defer)
