:root {
  --z-index-dropdown: 1000;
  --z-index-sticky: 1020;
  --z-index-fixed: 1030;
  --z-index-modal-backdrop: 1040;
  --z-index-modal: 1050;
  --z-index-popover: 1060;
  --z-index-tooltip: 1070;
  --z-index-important: 2147483647;
  --safe-area: 1.5rem;
  --unit-radius-small: 4px;
  --color-accent: var(--colors-caution9);

  --color-text-1: #fff;

  --bp-sm: 576px;
  --bp-md: 768px;
  --bp-lg: 992px;
  --bp-xl: 1200px;
  --bp-xxl: 1400px;
}

/*

  '&.opaque': {
    backgroundColor: '$dark',
    '.dark &': {
      backgroundColor: '$darker',
    },
  },

*/
header {
  --header-height: 3rem;
  position: var(--noscript-static, sticky);
  top: var(--noscript-auto, calc(var(--header-height) * -1));
  contain: size style;
  block-size: var(--header-height);
  inline-size: 100%;
  z-index: calc(var(--z-index-modal-backdrop) - 1);
  will-change: top;
  user-select: none;
  color: var(--color-text-1);
  padding-inline: var(--safe-area);
  font-size: var(--fontSizes-lg);
  transition: background-color 0.75s ease-out;

  &.opaque {
    background-color: var(--colors-darker);
    .dark & {
      background-color: var(--colors-darker);
    }
  }
}

header section {
  display: grid;
  grid: 1fr / auto 1fr;
  gap: 1rem;
  align-items: center;
  block-size: var(--header-height);
}

/*
  LOGO
*/
header .logo {
  display: flex;
  align-items: center;
}
header .logo a {
  outline-offset: 6px;
  & > b {
    font-weight: bold;
  }
}

/*
  LINKS & BUTTONS
*/
header :is(a, button) {
  color: var(--color-text-1);
}

header a {
  display: inline-block;
  border-radius: var(--unit-radius-small);
  border-width: 1px;
  border-color: transparent;
  font-weight: 300;
}

header a.active {
  color: var(--colors-caution9);
}

/*
  COLOR SCHEME TOGGLE
*/
header .btn-color-scheme {
  display: var(--noscript-none);
  display: flex;
  align-items: center;
}
/* https://docs.w3cub.com/css/@media/scripting
@media (scripting: none) {
  header .btn-color-scheme {
    display: none;
  }
}
*/
header .btn-color-scheme button {
  --size: 20px;
  position: relative;
  inline-size: var(--size);
  block-size: var(--size);
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  cursor: default;
  background: none;
  -webkit-appearance: none;
  outline-offset: 6px;
  contain: size layout style;
}

/*
  HAMBURGER MENU BUTTON
*/
header .btn-hamburger {
  --icon-width: 30px;
  --icon-height: 24px;
  display: var(--noscript-none, flex);
  position: relative;
  z-index: 1;
  margin-inline-start: auto;
  inline-size: var(--icon-width);
  block-size: var(--icon-height);
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  border: none;
  background: transparent;
}
header dialog {
  border: none;
}
header dialog.open .btn-hamburger {
  position: fixed;
  inset-block-start: calc((var(--header-height) - var(--icon-height)) / 2);
  inset-inline-end: 1rem;
}
header .btn-hamburger:focus {
  outline: none;
}
header .btn-hamburger:focus-visible span {
  background-color: var(--color-accent);
}
header .btn-hamburger > span {
  --line-width: 4px;
  inline-size: 100%;
  block-size: var(--line-width);
  border-radius: var(--line-width);
  background-color: var(--color-text-1);
  will-change: transform;
  pointer-events: none;
  transform-origin: center;
}
/* header .btn-hamburger > :nth-child(1) {
  transform-origin: top left;
}
header .btn-hamburger > :nth-child(2) {
  transform-origin: center;
}
header .btn-hamburger > :nth-child(3) {
  transform-origin: bottom left;
} */

/*
  SIDEBAR
*/
header dialog {
  background: transparent;
  display: contents;
}
header .backdrop {
  display: none;
  contain: strict;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* header dialog::backdrop {
  background-color: rgba(255, 0, 0, 0.25);
} */
header dialog.open .backdrop {
  display: block;
}
header .sidebar {
  contain: strict;
  --menu-width: var(--noscript-auto, 260px);
  --menu-translate: calc(var(--menu-width) + 1px);
  position: var(--noscript-static, fixed);
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-end: 0;
  inline-size: var(--menu-width);
  transform: translate3d(var(--noscript-0, var(--menu-translate)), 0, 0);
  padding: var(--noscript-0, 1rem);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--colors-darker);
  -webkit-overflow-scrolling: touch;
  touch-action: pan-y;
  overscroll-behavior: contain;
}
@supports (overflow-x: clip) {
  header .sidebar {
    overflow-x: clip;
  }
}

/*
  NAVIGATION BAR
*/
header nav {
  display: flex;
  flex-flow: var(--noscript-row, column) nowrap; /* switch to row for horizontal navigation */
  /* gap: 0.5rem; */
  --flex-gap: 0.5rem;
}

/*
  VERTICAL NAVIGATION ON SMALL SCREENS
*/
header dialog.open nav {
  min-block-size: 100%;
  padding-block-start: 3rem;
  --line-height: 2.5rem;
  line-height: calc(var(--line-height) * 0.75);
}
@media (hover: none) {
  header dialog.open nav {
    line-height: var(--line-height);
  }
}
header dialog.open nav a {
  outline-offset: 4px;
}

header dialog.open nav > div:not(:last-of-type) {
  margin-block-end: var(--flex-gap);
}
header dialog.open .btn-color-scheme button {
  padding-block: 0;
  padding-inline-start: 0;
  margin-block-start: 5px;
  /* height: var(--line-height); */
}

/*
  HORIZONTAL NAVIGATION ON BIG SCREENS
*/
@media (width > 991px) {
  header nav {
    flex-direction: row;
    justify-content: end;
  }
  header nav > * {
    margin-inline-start: var(--flex-gap);
  }
  header nav a {
    padding-inline: 0.5rem;
    line-height: 2.5rem;
  }
  header :is(.btn-hamburger, .backdrop) {
    display: none;
  }
  header .sidebar {
    display: contents;
  }
}

@supports (padding: max(env(safe-area-inset-left), 1rem)) {
  header {
    padding-inline: max(env(safe-area-inset-left), var(--safe-area));
  }
  header dialog.open .btn-hamburger {
    inset-inline-end: max(env(safe-area-inset-right), var(--safe-area));
  }
}
