@import '../../styles/lib';
body {
  // Make header transparent and remove padding from body when we're in the homepage
  padding-top: 0;
}

.site-header {
  will-change: background-color, top;
  transition: background-color 0.5s ease-out;
  &.top {
    background-color: fade-out($lwjgl-primary, 1.0);
  }
}

// Intro video
.hero-container {
  background: linear-gradient(to top left, #4cddff, #3b9aca 10%, #2d6ca5 20%, #2a5291 27%, #283d81 35%, #222654 50%, #1e1635 63%, #0c0010 93%, #000);
  width: 100%;
  height: 100vh;
  position: relative;
  canvas {
    position: absolute;
    z-index: 0;
    opacity: .1;
  }
  .d-flex {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
  }
  .logo {
    display: block;
    max-width: 700px;
    margin: 0 2rem;
    flex-grow: 1;
  }
  .intro {
    text-align: center;
    padding: 0 1rem;
    color: white;
    font-weight: 300;
  }
  h1 {
    @media (max-width: 600px) {
      font-size: 1.4rem;
    }
    @media (max-width: 400px) {
      font-size: 1.1rem;
      line-height: 1.5rem;
    }
  }
  a {
    color: white;
    @media (max-width: 600px) {
      font-size: .9rem;
    }
  }
  .svg-icon {
    font-size: 1.5rem;
  }
}

// Make bindings icons large
.bindings {
  .svg-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}