@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin square($size) {
  @include size($size, $size);
}

@mixin overflow-ellipsis() {
  // NOTE: not to be confused with Bourbon ellipsis() which sets `display: inline-block`
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
